
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  height: 100vh;
  margin: 0;
}

/* Navigation styles */
nav {
  font-weight: bold;
  font-size: 16px;

  .nav-link {
    color: #2780c3;

    &.active {
      color: #002a6f;
    }
    &:hover {
      color: #002a6f;
    }
  }
}
.welcome-title {
  padding-top: 100px;
}
.welcome-intro {
  padding-top: 60px;
  font-size: 16px;
}
.register-form, .login-form {
  margin-top: 100px;
  padding-bottom: 100px;
}
.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
 .hero-section {
  border-radius: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  label {
    color: white;
  }
  h1, p {
    color: white;
  }
 }
 .blog-listing {
   padding-top: 80px;
   padding-bottom: 100px;
   h1 {
     margin-bottom: 50px;
   }
   .post-box {
     margin-bottom: 30px;
     padding-top: 30px;
     padding-left: 15px;
     padding-right: 15px;
     padding-bottom: 40px;
     border: 1px solid #636b6f;
     border-radius: 5px;
     span {
      margin-left: 20px;
      font-weight: bold;
     }
   }
   .title {
     font-weight: bold;
   }
   .title, .expert {
     padding-bottom: 20px;
   }
   .post-pagination {
     position: relative;
     .pagination {
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
     }
   }
 }